#navbarr {
  border-style: ridge;
  border-color: whitesmoke;
}

button.submit-btn {
  padding: 6px 12px;
  border: 1px solid;
  margin: 5px;
}

button.submit-btn:hover {
  background-color: chartreuse;
}

.drop-down {
  border: 1px solid green;
  padding: 6px 12px;
}

.input-search {
  padding: 6px 12px;
}
